.section-all-re {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    gap:60px;
  }
  
  .text-center {
    text-align: center;
  }