* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .item {
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 10px;
  }
  
  .item-image {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .item-image img {
    
    width: 350px;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .item-description {
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  }
  .house {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .item-title {
    float: left;
    margin-right: 20px; 
    font-weight: bold;
    font-size: 20px;
    font-family: initial;
  }
  
  .item-price {
    margin: 0; 
  }

  .ii{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:rgb(90, 87, 87);
  }
  .item-price {
    font-weight: bold;
    font-size: 20px;
    color: #364465;
  
  }
  
  .item-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn-detail {

    display: flex;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .item {
      margin-right: 0;
      margin-left: 0;
    }
  
    .item-image img {
      height: 200px;
    }
  
    .item-description {
      padding: 10px;
    }
    .item .item-price {
      text-align: right;
    }
  
  }